
._1_lj{color:#4b4f56;line-height:1.358;text-align:center}._1_lj:hover{text-decoration:none}div._1_lk{margin-left:0;margin-top:0}._1_lk ._5jmm{border:0;box-shadow:0 1px 2px rgba(0, 0, 0, .12);margin-bottom:0;margin-top:10px}._1_lk ._5jmm:first-of-type{margin-top:0}._1_lk ._2gy7{font-size:12px}._2f7y{padding-top:8px;text-align:center}
._432s{border-bottom:1px solid #e9ebee;color:#90949c;font:12px/1.358 Helvetica, Arial, sans-serif}._432s a{color:#4267b2}._5xtg{line-height:16px;max-width:80%;max-width:calc(100% - 32px)}._5xtg a{font-weight:bold}._3vb4{height:24px;width:24px}
._5muq,._5mur{font:14px Helvetica, Arial, sans-serif}._5muq{font-weight:bold}._5mur{color:#1d2129;line-height:20px}._y9r{color:#90949c;font:12px Helvetica, Arial, sans-serif}._4out a:hover{text-decoration:none}._y9t{margin-bottom:-2px;margin-right:3px}._uyl{border-top:1px solid #e9ebee}
._2_79{letter-spacing:.15px}
._3hft ._435r{padding-right:5px}._2_1h{margin:12px 12px 0}._rb9{border-top:1px solid #f0f0f0}._2163{display:inline-block;line-height:1.358}._2164{border:0;margin:0;width:auto}._2165,._22v4{display:block}._2166,._4mlr{bottom:1px;position:relative}
._36iq{cursor:pointer;font-size:12px;font-weight:bold;line-height:16px;text-align:center}._3xre{color:#7f7f7f}._58c4{color:#fff}._2yf7{vertical-align:bottom}._36iq._4ivs{color:#4080ff}._2yf7._5jp{display:inline-block}._2yf7._3wdt{display:none}._4ivs ._5jp{display:none}._4ivs ._3wdt{display:inline-block}
._1p6f{display:block;width:100%}._1p6g{height:auto}._1p6h{height:100%;width:auto}
._523u{display:inline}
._4i-s{padding:12px 12px 0;word-wrap:break-word}
._55ra{background:#000;box-shadow:none;margin:0 auto}
._2l7q{background:#000;box-shadow:none}._2l7q img{margin:0 auto}
._2q1_{position:relative}._2q20{background:linear-gradient(to bottom, rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, 0) 100%);box-sizing:border-box;color:#fff;height:56px;position:absolute;text-shadow:0 1px 2px rgba(0, 0, 0, .5);width:100%}._2q20 a{color:#fff}._2q20 ._2q21{color:#dddfe2}._2q22{background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);bottom:0;height:43px;position:absolute;width:100%}._2q22 ._2_1h{margin:0 0 0 12px}._3rt8{border:2px solid #fff}
._2gn_{background-color:#1d2129;color:#fff;padding-bottom:56.25%;position:relative;text-align:center;text-shadow:1px 1px 0 rgba(20, 22, 26, .3)}._2go0{bottom:0;height:100px;left:0;margin:auto;position:absolute;right:0;top:0;width:80%}._2go6{font-size:14px;margin:16px auto;width:180px}._2go6 a,._2go6 a:hover{color:#fff;text-decoration:none}._3i0o{font-size:24px}._3i0p{font-size:16px;font-weight:normal}@media (min-width: 800px){._2go0{width:50%}}@media (max-width: 300px){._2go0{width:90%}}
._mso div.swfObject,._mso div.swfObject embed,._mso div.swfObject object{height:100% !important;width:100% !important}
._3fnw{height:100%;margin:0 auto}._3fnx{background-color:#000}._3fny{bottom:0;left:0;margin:auto;position:absolute;right:0;top:0}
._1q3v{color:#4b4f56;font-size:14px;font-weight:bold;line-height:21px;padding:55px 9px;text-align:center}._1q3w{bottom:22px;line-height:20px;position:absolute;right:22px}._1q3w a{color:#90949c;font-size:12px}._1q3x{bottom:2px;margin-left:4px;position:relative;vertical-align:middle}
._4x6d::after{background-color:rgba(20, 22, 26, .2);content:"";height:100%;left:0;position:absolute;top:0;width:100%}
._5sjk._3htz{background-color:rgba(20, 22, 26, .7);color:#fff;display:none;font-family:Helvetica, Arial, sans-serif;padding:0;position:absolute;text-align:center;text-shadow:1px 1px 0 rgba(20, 22, 26, .3)}._3-n5 ._5sjk{display:block}
._3jny._3htz{bottom:0;height:32px;left:auto;margin:16px;position:absolute;right:0;top:auto;width:32px}._3jny._16d3{opacity:.7}._3jny._16d3:hover{opacity:1}._3jny._16d4{visibility:hidden}
.__k._3htz{bottom:0;height:auto;position:absolute;top:auto;width:100%}._3-n5 .__k{display:none}.__m{padding:16px;position:relative}._-l3{width:50%}
.sp_RRZRm1Zr3oX{background-image:url(/rsrc.php/v3/yM/r/ndxbLJIE9F5.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_RRZRm1Zr3oX.sx_ef1266{width:24px;height:24px;background-position:0 0}.sp_RRZRm1Zr3oX.sx_6a6ed2{width:24px;height:24px;background-position:0 -25px}.sp_RRZRm1Zr3oX.sx_31716b{background-position:0 -50px}.sp_RRZRm1Zr3oX.sx_b0e51e{background-position:0 -67px}.sp_RRZRm1Zr3oX.sx_b6ebdd{background-position:0 -84px}.sp_RRZRm1Zr3oX.sx_4c2b07{background-position:0 -101px}.sp_RRZRm1Zr3oX.sx_2e8a75{background-position:0 -118px}.sp_RRZRm1Zr3oX.sx_237812{background-position:0 -135px}.sp_RRZRm1Zr3oX.sx_db5631{background-position:0 -152px}.sp_RRZRm1Zr3oX.sx_03af0e{background-position:0 -169px}.sp_RRZRm1Zr3oX.sx_6c8605{background-position:0 -186px}

#bootloader_gn0Qs{height:42px;}.bootloader_gn0Qs{display:block!important;}